html, body{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("/png/bR-Zsh6zDi8.jpg");
}
header{
    margin-bottom: 100px;
}
#particles-js{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#page-wrapper{
    position: relative;
    z-index: 2;
}
header h1{
    


    text-shadow: 0 0 10px white,0 0 20px white;
    color:whitesmoke;
    text-align: center;
    
}
body h1{
    text-align: center;
    color: white;
}